<div>
    <div style="width: 200px; float: left; height: 215px;" >
        <img src="{{p.image_url}}" alt="vending" width="200px" height="215px">
    </div>
    <div>
        <h1>{{p.vending_name}}</h1>
        <h3><i class="fas fa-map-marked-alt"></i> {{p.address}}</h3>
        <h3><i class="fas fa-map-marker-alt"></i> {{p.latitude}}, {{p.longitude}}</h3>
        <h3><i class="far fa-copyright"></i> {{p.trademarks}}</h3>
        <h3><i class="fas fa-stream"></i> {{p.available_goods}} pcs. left</h3>
        <h3><i class="fas fa-check-circle"></i> {{p.sold_goods}} pcs. sold</h3>
    </div>
    <br>
</div>